:root {
  --primary-color: #DCDCDC;
  --secondary-color: #A30101;
  --border-color: #00FF29;
  --background-color: #181A1B;
}
body {
  background-color: var(--background-color);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif ;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.highlight {
	color: var(--secondary-color);
}